
<% if @user_or_book == "1"%>
    <h1>User</h1>
    <table>
        <% @users.each do |user| %>
        <thead>
            <tr>
                <th></th>
                <th><%= user.name %> </th>
            </tr>
        </thead>
        <% end %>
    </table>

<% elsif @user_or_book == "2" %>
    <h2>Book</h2>
    <table>
    <% @books.each do |book| %>
        <thead>
            <tr>
                <th></th>
                <th><%= book.title %></th>
            </tr>
        </thead>
    <% end %>
    </table>
<% else %>
<% end %>